#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  #inputNome{
    margin: 30px;
    
    border-radius: 13px;
    ion-input{
      border-radius: 13px;
    }
  }


#imgs{
  img{
    margin: 4px;
    opacity: 0.5
  };
  img:hover{
    opacity: 1;
  }
}

.imgTrans{
  opacity: 0.5;
}
.imgTransAtivo{
  opacity: 1;
}
