// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// http://ionicframework.com/docs/theming/
$shadows: #000;
$background: #f1f6f8;
$background-3: #c4d4da;
$background-4: #d4eaf4;
$background-5: #bce4f7;

$toolbar-background-1: #18303c;

// $font: #fff
$font-2: #ceedf5;
$font-3: #6ea8fe;
// $highlight: #015d4c;

