<app-header></app-header>

<ion-content color="ligth">
    <ion-list class="telaTablet">   
      @for (user of usersList$| async; track $index) {
        @if (user.uid !== userAtivo.uid) {
          <ion-item-sliding>
            <ion-item [button]="true" (click)="onClick(user)">
              <ion-avatar aria-hidden="true" slot="start">
                <img src="{{user.imgPhoto}}" class="inativo" [ngClass]=" user.online ? 'ativo' : 'inativo'">
              </ion-avatar>
              <div class="unread-indicator-wrapper" slot="start"></div>
              <ion-label>
                <strong>{{user.name}}</strong>
                <ion-text></ion-text>
                <br />
                <ion-note color="medium" class="ion-text-wrap">That is all.</ion-note>
              </ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-note color="medium">03:44</ion-note>
                <ion-icon color="medium" name="chevron-forward"></ion-icon>
              </div>
            </ion-item>
            <ion-item-options slot="end">
              <ion-item-option color="danger" expandable="true">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          }
        }
    </ion-list>
</ion-content>

<app-footer></app-footer>