<ion-header >
  <ion-toolbar>
    <ion-title>
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img src="{{userAtivo.imgPhoto}}" alt="">
        </ion-avatar>
        {{userAtivo.name}}
    </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list class="telaTablet">
      @for (item of usersList$| async; track $index) {
        @if (item.uid !== userAtivo.uid) {
          <ion-item>
            <ion-avatar aria-hidden="true" slot="start">
              <img src="{{item.imgPhoto}}" class="avatar" [ngClass]=" item.online ? 'ativo' : ''">
            </ion-avatar>
            <ion-label>{{item.name}}</ion-label>
          </ion-item>
        }
      }
    </ion-list>
  </div>
</ion-content>
